$background-color: #738276;
$form-and-button-background-color: #989898;
$blinking-text-color: #ffff;
$hover-on-sign-in: #ffff;
$form-border-color: #4d5d53;
$board-color: #738276;
$board-hover-color: #8f9779;
